@page "/userInfo"
@inject Services.GetUserService GetUser
@inject HttpClient Http


<PageTitle>User Page</PageTitle>

<h1>User Information</h1>

@code{
    
    IEnumerable<User>? users;
    
    protected override async Task OnInitializedAsync()
    {
        users = await GetUser.GetUserList();

        foreach (var user in users)
        {
            Console.WriteLine(user.Name);
        }
    }
    
}    

